


<%= javascript_include_tag :defaults, 'charges' %>

<%= devise_error_messages! %>

   <section class="inner-intro inner-intro-small">
            <div class="container">
                <div class="row title">
                    <h2 class="h2">Register</h2>
                    <div class="page-breadcrumb">
                        <a>Home</a>/<span>Register</span>
                    </div>
                </div>
            </div>
        </section>
        <div class="clearfix"></div>
        <!-- End Intro Section -->


        <!-- Login Section -->
        <section id="Pricing" class="ptb ptb-sm-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <div class="border-box">
                            <h4>Create an Account</h4>
                            <form action="<%= user_registration_path %>" method="post" id="payment-form">
                            
                            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                            <%= hidden_field :user, :stripe_card_token %>
                            <%= hidden_field :user, :subscription_plan_id, value: params['subscription_plan']  %>
                            
                              
                              <div id='stripe_error' class="alert alert-info" style='display:none'></div>


                                <div class="form-field-wrapper">
                                    <%= label :user, :email %>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                        </span>
                                        <%= email_field :user, :email, autofocus: true,  placeholder: "Enter your Email", class: "input-sm form-full", required: true %>
                                        
                                    </div>
                                </div>
                                <div class="form-field-wrapper">
                                    <%= label :user, :password %>
                                    <% if @minimum_password_length %>
                                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                                    <% end %><br />
                                    <%= password_field :user, :password, autocomplete: "off", class: "input-sm form-full", required: true %>
                                </div>
                                <div class="form-field-wrapper">
                                    <%= label :user, :password_confirmation %><br />
                                    <%= password_field :user, :password_confirmation, class: "input-sm form-full", autocomplete: "off", required: true %>
                                </div>
                                <div class="form-row">
                                  <label for="card-element">
                                    Credit or debit card
                                  </label>
                                  <div id="card-errors"></div>
                                  <div id="card-element"></div>
                                </div>
		                        <div class='form-group' align="center" style="margin-top: 10px;">
                                  <%= submit_tag "Sign up", class: "btn btn-md btn-black center-block" %>
                                </div>   
                            </div>
                            </form>
                            
                        </div>
                       
                    </div>

                </div>
            </div>
        </section>
        <!-- End Login Section -->

        <!-- End CONTENT ------------------------------------------------------------------------------>


        <script>
        // Create a Stripe client
var stripe = Stripe('<%= Rails.configuration.stripe[:publishable_key]%>');

// Create an instance of Elements
var elements = stripe.elements();

// Custom styling can be passed to options when creating an Element.
// (Note that this demo uses a wider set of styles than the guide below.)
var style = {
  base: {
    color: '#32325d',
    lineHeight: '24px',
    fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
    fontSmoothing: 'antialiased',
    fontSize: '16px',
    '::placeholder': {
      color: '#aab7c4'
    }
  },
  invalid: {
    color: '#fa755a',
    iconColor: '#fa755a'
  }
};

// Create an instance of the card Element
var card = elements.create('card', {style: style});

// Add an instance of the card Element into the `card-element` <div>
card.mount('#card-element');

// Handle real-time validation errors from the card Element.
card.addEventListener('change', function(event) {
  var displayError = document.getElementById('card-errors');
  if (event.error) {
    displayError.textContent = event.error.message;
  } else {
    displayError.textContent = '';
  }
});

// Handle form submission
var form = document.getElementById('payment-form');
form.addEventListener('submit', function(event) {
  event.preventDefault();
    stripe.createToken(card).then(function(result) {
    if (result.error) {
      // Inform the user if there was an error
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = result.error.message;
    } else {
      // Send the token to your server
      field = document.getElementById('user_stripe_card_token');
      field.value=result.token.id;
      form.submit();
    }
  });
});
        </script>