<h5 class="white">Sign In</h5>
  <div class="sign-in">
    <input class="input-sm form-full" type="email" aria-required="true" id="email" name="email" placeholder="Email" value="" />
    <input class="input-sm form-full" type="password" aria-required="true" id="password" name="password" placeholder="Password" value="" />
    <input type="submit" class="btn btn-md btn-color-b form-full" value="Sign In" />
    <a>New Member?</a>
  </div>

<ul>
  <li><%= link_to 'Home', root_url %></li>
  <li><%= link_to('Register', subscription_plans_path) if current_user.blank?  %></li>
  <li><%=  link_to('Login', new_user_session_path) %></li>
  <% unless @categories_menu.nil? %>
    <% @categories_menu.each do  |category| %>
      <li><%= link_to category.name, category %></li>
    <% end %>
  <% end %>
  <li><%= link_to 'Board', board_path %></li>
  <li><%= link_to 'Contact', contact_path %></li>
</ul>