<h5 class="white">Sign In</h5>
  <div class="sign-in">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.email_field :email, autofocus: true, placeholder: "Email",   class: "input-sm form-full", required: true %>
      <%= f.password_field :password, placeholder: "password", autocomplete: "off", class: "input-sm form-full", required: true %>
      <%= f.submit "Sign In", class: "btn btn-md btn-color-b form-full" %>
  <% end -%>
  </div>

<ul>
  <li><%= link_to 'Home', root_url %></li>
  <li><%= link_to('Register', subscription_plans_path) if current_user.blank?  %></li>
  <li><%=  link_to('Login', new_user_session_path) %></li>
  <% unless @categories_menu.nil? %>
    <% @categories_menu.each do  |category| %>
      <li><%= link_to category.name, category %></li>
    <% end %>
  <% end %>
  <li><%= link_to 'Board', board_path %></li>
  <li><%= link_to 'Contact', contact_path %></li>
</ul>