<ul>
  <li><%= link_to 'Home', root_url %></li>
  <li><%= link_to('Register', subscription_plans_path) if current_user.blank?  %></li>
  <% unless @categories_menu.nil? %>
    <% @categories_menu.each do  |category| %>
      <li><%= link_to category.name, category %></li>
    <% end %>
  <% end %>
  <li><%= link_to 'Board', board_path %></li>
  <li><%= link_to 'Contact', contact_path %></li>
  <li><%= link_to 'Newsletter Archive', newsletters_path %></li>
  <li><%=  link_to('My Profile', edit_user_registration_path) %></li>
  <li><%=  button_to('Log Out', destroy_user_session_path, :method => :delete, class: "btn btn-md btn-color-b form-full") %></li>
</ul>