     <nav class='navigation'>
                    <ul>
                        <li>
                           <%= link_to 'Home', root_url %>
                        </li>
                       
                        <li>
                           <%= current_user.blank? ? link_to('Login', new_user_session_path) : link_to("Sign out", destroy_user_session_path, method: :delete)   %>
                        </li>
                       <li>
                           <%= link_to('Register', subscription_plans_path) if current_user.blank?  %>
                        </li>
                      
                         <li>
                             <%= render partial: "partials/content_menu" %>
                         </li>

                       
                        </li>
                       <li>
                           <%= link_to 'Contact', contact_path %>
                        </li>
                    </ul>
                </nav>
                <!--End Navigation Menu -->