<div class="item">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-sm-30">
        <%= image_tag item.image %>
      </div>
    <div class="col-md-5 col-md-offset-1">
      <h3><%= item.title %></h3>
      <div class="spacer-15"></div>
      <%= item.description.html_safe %>
      <div class="spacer-15"></div>
      <% if item.url.empty? %>
        <%= link_to "View Event", event_path(item), class: "btn btn-md btn-black" %>
      <% else %>
        <%= link_to "Go to event", item.url, class: "btn btn-md btn-black" %>
      <% end%>
      </div>
    </div>
  </div>
</div>