<!-- Team Grid Box Section -->
        <section class="ptb ptb-sm-80">
            <div class="container">
                <div class="row text-center">
                    <h3>ESPCOP BOARD</h3>
                </div>
                <div class="spacer-60"></div>
                <div class="row">
                    <!-- Team Box -->
                    <div class="col-md-3 col-sm-6 mb-30">
                        <div class="team-item">
                            <div class="team-item-img">
                                
                                <%= image_tag 'team/luc.jpg' %>
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>Luc De Baerdemaeker, MD PhD</h5>
                                        <p>Department of Anaesthesiology
UZGent
De Pintelaan 185
9000 Gent, Belgium</p>


                                        <ul class="social">
                                            <li><a href="mailto:luc.debaerdemaeker@ugent.be"><i class="fa fa-envelope"></i></a></li>
                                            <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li></ul>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="team-item-info">
                                <h5>Luc De Baerdemaeker, MD PhD</h5>
                                <p class="">President</p>
                            </div>
                        </div>
                    </div>
                   <div class="col-md-9 col-sm-6 mb-30">
                       <p>Prof de Baerdemaeker  has started working on the Department of Anaesthesiology in University Hospital Ghent since 1992 for orthopaedic surgery and traumatology with a built up of a broad experience in loco regional anaesthesia. Made a short stay in neuro-anaesthesia, cardiac anaesthesia and thoraco-vascular surgery. Current activity is in abdominal surgery and liver transplantation for adults and children. Research subjects were on cerebral blood flow, applied total intravenous anaesthesia and applied modern inhalation anaesthesia. Main study group was morbidly obese patients and this resulted in June 2008 in the public defence of a thesis on the optimisation of anaesthetic and analgesic drug administration in obese patients. (Promoters Prof. Dr. M Struys and Prof. Dr. E. Mortier)</p>

<p>Elected in 2008  and 2011 as Secretary of the European Society for the Perioperative Care of the Obese Patient (ESPCOP) Since 2014 elected as President of ESPCOP</p>

<p>Appointed as professor at University of Ghent Belgium since October 2012.</p>
                   </div>
</div>

          <div class="row">              <div class="col-md-3 col-sm-6 mb-30">
                        <div class="team-item">
                            <div class="team-item-img">
                                 <%= image_tag 'team/mike.jpg' %>
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>Mike Margarson, MD, FRCA, FFICM, Dipl ICM (UK)</h5>
                                        <p>Consultant Anaesthetist & Director of Critical Care
St RIchard’s Hospital, Chichester PO19 6SE</p>
                                        <ul class="social">
                                           <li><a href="mailto:m.margarson@nhs.net"><i class="fa fa-envelope"></i></a></li>
                                            <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="team-item-info">
                                <h5>Mike Margarson, MD, FRCA, FFICM, Dipl ICM (UK)</h5>
                                <p class="">Vice-President</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-6 mb-30">
                       <p>Dr. Margarson  has twelve years personal experience providing Bariatric Anaesthesia in one of the largest UK units with over 3,800 cases including 135 of BMI >70. Previously board member of the International Society for the Peri-operative Care of the Obese Patient (ISPCOP) and member of organising committee of their first two scientific meetings. Also he is Vice-Chairman for SOBA and lead organiser of seven annual scientific meetings and national study days.  He is <strong>Vice-Chairman of SOBA -UK</strong> Lead of the Key Issues programme at this Summer's IFSO World Congress.</p>

<p>Dr Margarson trained in London, Oxford, Munich and Sydney and is now a Consultant in Anaesthesia and Director of Critical Care at St Richard's Hospital, Chichester, UK.</p>

<p>His MD thesis was on microvascular permeability and rates of albumin transcapillary escape in sepsis. Current interests are mainly focussed around the airway and pharmacokinetics in the morbidly obese.</p>

<p>Outside of anaesthesia he coaches rugby, runs a cricket team and has unhealthy and ruinous interests in opera and classed-growth Bordeaux.<p>

<p>He is ESPCOP Vice-President</p>
                   </div>
</div>

          <div class="row">             

                   

                    <div class="col-md-3 col-sm-6 mb-30">
                        <div class="team-item">
                            <div class="team-item-img">
                                <%= image_tag('team/daniela.jpg')%>
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>Daniela Godoroja, MD</h5>
                                        <p>
<a href="http://www.ponderas.ro">Ponderas Hospital, Centre of Excellence for Bariatric and Metabolic Surgery
Bucharest Romania
</a>
Assistant Professor,
University of Medicine and Pharmacy Carol Davila, Bucharest</p>
                                        <ul class="social">
                                            <li><a href="mailto:daniela.godoroja@espcop.org"><i class="fa fa-envelope"></i></a></li>
                                            <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="team-item-info">
                                <h5>Daniela Godoroja, MD</h5>
                                <p class="">Secretary & IT Officer</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-9 col-sm-6 mb-30">
                    <p>  Dr. Godoroja has trained in University of Bucharest starting with cardiovascular and thoracic anaesthesia, but also gained  experience working in a couple of University NHS Hospitals from United Kingdom. She attended courses in Marseilles,  Brusseles, Insbruck and Salzburg for Interventional bronchoscopy, cadaver regional anaesthesia and ulltrasound for cardiovascular monitoring.  She has started  bariatric  anaesthesia in 2002  gaining a personal experience  of more than 6000 bariatric cases so far.  Since  2012 is  expert  in  training courses for difficult airway management by leading  more than 15  Airway Courses and Workshops in Romania and abroad . She founded and  is the actual President of the Romanian Association for Airway Management, Her actual research is on new scores for identification of  obstructive sleep apnoea  in obese , modalities for improving the adherence to CPAP of obese patients , and ultrasound guided loco-regional techniques for pain management.Less anaesthetic interests are music, travel to historical places  and  exotic perfumes.</p>
<p>She started as IT manager and Newsletter editor for ESPCOP in 2013, then as Editor of Obesity Anaesthesia Newsletter.</p>
<p>Since 2015 is ESPCOP Secretary.</p>
                   </div>
</div>

          <div class="row">             


 <div class="col-md-3 col-sm-6 mb-30">
                        <div class="team-item">
                            <div class="team-item-img">
                                <%= image_tag('team/jan.jpg')%>
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>Jan Paul Mulier, MD PhD</h5>
                                        <p>
Department of Anaesthesiology
Sint Jan Brugge-Oostende
Ruddershove 10
8000 Bruges, Belgium</p>
                                        <ul class="social">
                                            <li><a href="mailto:jan.mulier@azbrugge.be"><i class="fa fa-envelope"></i></a></li>
                                            <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="team-item-info">
                                <h5>Jan Paul Mulier, MD PhD</h5>
                                <p class="">Past President & Treasurer</p>
                            </div>
                        </div>
                    </div>
                     <div class="col-md-9 col-sm-6 mb-30">
                    <p>Jan Paul J. Mulier is chairman of the department of Anesthesiology, Intensive care and Emergency Care at the AZ Sint Jan Brugge-Oostende in Belgium.<p>

<p>Dr. Mulier holds a specialization in Anesthesiology, Intensive and Emergency Care from the KUL; he was Anesthesiology resident at the UCSF in San Francisco, California. In 1989 he served as a researcher for paired pacing at Medtronic, Inc, at Minneapolis, and got an MBA at Vlerick in the management of research and innovation.
</p>
<p>He introduced trans esophageal echocardiography in Belgium 1985 and became a dedicated cardiac anesthesiologist studying the physiology of pulse wave propagation. In 1994, Dr. Mulier obtained his PhD in Biomedical Sciences (KUL and Penn University) with the invention of a non linear mathematical model of cardiac pump function coupled to the linear arterial model of Westerhof. He has been president and founder of the ESPCOP (European society for perioperative care of the obese patient) and active in the ESA scientific subcommittees.
</p>
<p>His research today is frequently focused on practical engineering improvements for surgery and anesthesia.  The results of his Research area’s today were first used in the clinic for bariatric anesthesia but get a broader interest in other area’s as well: 1) Deep neuromuscular blockade in laparoscopic surgery: when do you need it, how to achieve it and how to reverse it. It is all based on the abdominal compliance model. 2) Impact of laparoscopy on peritoneal inflammation and how to reduce it. 3) Ventilation of morbid obese patient: value of permissive hypercapnia, peep, cpap, support ventilation and how preventing atelectasis, silent aspiration, ventilator induced lung injury. 4) Opioid free general anesthesia as a method to enhance recovery after surgery. 5) Improving the surgical outcome and the operating room efficiency as an anesthesiologist. 6) Improving the safety and reducing the environmental impact of anesthesia.</p>

<p>Since 2010, he performs most his general anesthesia’s totally opioid free using an intravenous sympathetic block. Many anesthesiologists from around the world visit him and follow this new trend.</p>

<p>He is  Treasurer of ESPCOP  and Past President</p> 
                   </div>
</div>

          <div class="row"> 
    <div class="col-md-3 col-sm-6 mb-30">
                        <div class="team-item">
                            <div class="team-item-img">
                                <%= image_tag('team/tomasz.jpg') %>
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>Tomasz Gaszynski,MD, PhD</h5>
                                        <p>Professor of Anaesthesia
Medical University of Lodz, Poland</p>
                                        <ul class="social">
                                            
                                            <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="team-item-info">
                                <h5>Tomasz Gaszynski,MD, PhD</h5>
                                <p class="">Vice President for Research</p>
                            </div>
                        </div>
                    </div>
                     <div class="col-md-9 col-sm-6 mb-30">
                  <p> Prof. Gaszynski graduated Medical Faculty of Medical University In Lodz in 1998, received his doctor`s degree in 2002, and in 2006 became specialist in Anesthesiology and Intensive Therapy. From the beginnig of scientific career he has been involved in research on anaesthesia management of morbidly obese patients: his doctorate thesis was on the use of opioids during general anaesthesia for bariatric surgery. He published over 20 papers on anaesthesia management of morbidly obese patients, he is an author of manual “Bariatric anaesthesia”, lecturer on scientific conferences and faculty on workshops, he is organizer of courses on anaesthesia management of morbidly obese patients. In 2011 became Head of Department of Emergency and Disaster Medicine Medical University of Lodz, Poland, and in 2012 – Professor of Anaesthesia at Medical University of Lodz, Poland. He received many awards for scientific achievements and education. Currently he is conducting studies on airway management for anaesthesia of morbidly obese patients and opioid free anaesthesia including low opioid postoperative pain management.</p>

<p>He is  ESPCOP Vice-President for Education  since 2015.</p>
                   </div>
</div>

          <div class="row"> 


                    <div class="col-md-3 col-sm-6 mb-30">
                        <div class="team-item">
                            <div class="team-item-img">
                                <%= image_tag('team/paolo.jpg') %>
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>Paolo Pelosi, MD, PhD,</h5>
                                        <p>Professor in Anaesthesiology and Intensive Care Medicine,
University of Insubria, Varese, Italy</p>
                                        <ul class="social">
                                         
                                            <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="team-item-info">
                                <h5>Paolo Pelosi, MD, PhD,</h5>
                                <p class="">Vice President for Research</p>
                            </div>
                        </div>
                    </div>
                                         <div class="col-md-9 col-sm-6 mb-30">
                   
                   </div>
</div>

          <div class="row"> 

                  
                    <div class="col-md-3 col-sm-6 mb-30">
                        <div class="team-item">
                            <div class="team-item-img">
                                <%= image_tag('team/yigal.jpg') %>
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>Yigal Leykin, MD PhD</h5>
                                        <p>Chairman Anaesthesia and Intensive Care
Santa Maria degli Angeli Hospital
Via Montereali 24
33170 Pordenone, Italy</p>
                                        <ul class="social">
                                            <li><a href="mailto:yigal.leykin@aopn.fvg.it"><i class="fa fa-envelope"></i></a></li>
                                            <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="team-item-info">
                                <h5>Yigal Leykin, MD PhD</h5>
                                <p class="">Honorary Member</p>
                            </div>
                        </div>
                    </div>
                     <div class="col-md-9 col-sm-6 mb-30">
                 
                   </div>
</div>

          
                   
                    <!-- End Team Box -->
                </div>
            </div>

        </section>
        <!-- End Team Grid Box Section -->
        <!-- End CONTENT ------------------------------------------------------------------------------>
