       <!-- CONTENT --------------------------------------------------------------------------------->

        <!-- Intro Section -->
       <section class="inner-intro  overlay-dark light-color parallax parallax-background2" style="background-position: 0% -85.5px;background-image: url('<%= @category.image || '/assets/logo-black.png' %>');">
            <div class="container">
                <div class="row title">
                    <h2 class="h2"><%= @category.name %></h2>
                    <div class="page-breadcrumb">
                       <span><a><%= strip_tags(@category.description) %></a></span>
                    </div>
                </div>
            </div>
        </section>
        
        <div class="clearfix"></div>
        <!-- End Intro Section -->

        <!-- Blog Post Section -->
        <section class="ptb ptb-sm-80">
            <div class="container">
                <div class="row">
                    <!-- Post Item -->
                    <div class="col-lg-9 col-md-9">
                        <div class="row">

                            <div class="col-md-12 blog-post-hr">
                              
                                  <%= render partial: "article", collection: @content_items %>
                           
                                

                               
                            </div>

                        </div>

                       

                    </div>
                    <!-- End Post Item -->

                    <!-- Sidebar -->
                    <div class="col-lg-3 col-md-3 mt-sm-60">
                        <%= render partial: "other_posts" %>
                       
                        <%= render partial: "other_categories"%>
                    </div>
                    <!-- End Sidebar -->
                </div>
            </div>
        </section>
        <!-- End Blog Post Section -->

        <!-- End CONTENT ------------------------------------------------------------------------------>